body{        
    margin:0;
    padding:0;
    background-image: url(../img/arkaplanim.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
 #navbar {
	opacity: 0.8;
	border-bottom: 1px solid #fff;
}
#nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
#nav a:hover{
  color:lightseagreen;
}
#center{
  height: 100vh;
}
#foto{
  width: 20%;
  margin-top:20vh;
}

.profilp {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}



 .footer {
	bottom: 0;
	width: 100%;
	background: #333;
	padding: 10px 0;
	color: #fff;
}
  .ikon{
    display: inline;
    position: relative;
  }

  .ikon:hover{
    width: 2%;
 
  }